nav {
    /* position: f; */
    /* left: 0px;
    top: 0px; */
    display: block;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: baseline; */
    /* min-width: 350px; */
    width: 350px;
    height: 50px;
    background: white;
    z-index: 10;
}