/* .map-container {
    background-color: yellow;
    color: red;
    border: 5px;
    height: 500px;
    width: 500px;
} */

#map {
    width: 1570px;
    height: 927px;
    z-index: 0;
}

/* style="height: 700px; width: 650px" */